p.officer {
	margin-bottom:10px;
}
h2 {
	width:100%;
	text-align:center;
	margin-top:0;
}
p.lead.officer {
	width:100%;
	text-align:center;
}
img.officerimage {
	width:100%;
}
p.info {
	margin-top:10px;
	font-size:15px;
}
p.mission {
}
