#lectures > ul > li > a {
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	font-size:18px;
	position:absolute;
	max-width:60%;
	max-width:calc(100% - 175px);
}
td {
	width:33%;
}
tr {	
	border-top: 1px lightgrey solid;
}
tr.top {
	border-top:none;
}
td {
	border-left: 1px lightgrey solid;
	padding-left:5px;
	padding-right:5px;
}
td.left {
	border-left:none;
}
.links {
	margin-top:-10px;
}
p.date {
	position:absolute;
	right:30px;
	display:inline;
	font-size:18px;
}
