<link rel="stylesheet" href="css/about.css">
<h1>About</h1>
<hr>
<div class="col-md-2">
    <h2>
        Mission
    </h2>
</div>
<div class="col-md-10">
    <p class="lead mission">
        TJ Cancer Research Society is a club dedicated to organizing cancer research, raising awareness for cancer alongside TJ Relay for Life, and educating students to inspire them to perform and share their own research.  It is the club’s goal to encourage collaborative research between students at TJ and to provide the foundational knowledge and resources to enable them to do so.
    </p>
</div>
<hr>
<div class="col-md-2">
    <h2>
        Officers
    </h2>
</div>
<div class="col-md-10">
    <div class="col-md-12 officer-d">
        <div class="row">
            <div class="col-sm-4">
                <p class="lead officer">Eric Liu</p>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <img class="img-responsive img-circle officerimage" src="img/eric.jpg" alt="Eric Liu" />
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <p class="role">President</p>
            </div>
            <div class="col-sm-8">
                <p class="info">
Eric is a junior at TJHSST and is an avid STEM enthusiast. He has conducted some microbiome research related to cancer development, diet, and geography and is excited to present some of his work at the Science Fair with his partner. He is looking forward to continuing research in the Biotechnology Senior Research Laboratory next year. Eric is also passionate about community service and tutoring, and is a STEMbassador, Writing Center Tutor, and Latin Honor Society Tutor. STEM and Humanities go hand-in-hand, and Cancer Research Society was founded to not only kindle passion and collaboration in STEM research, but also explore the selflessness in science.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12 officer-d">
        <div class="row">
            <div class="col-sm-4">
                <p class="lead officer">Sai Samayamanthula</p>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <img class="img-responsive img-circle officerimage" src="img/sai.jpg" alt="Sai Samayamanthula" />
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <p class="role">Secretary</p>
            </div>
            <div class="col-sm-8">
                <p class="info">
Currently a senior, Sai Samayamanthula is very passionate about all biological sciences, especially the neurosciences and cancer. Accordingly, during his years at TJ, he has taken all possible biology and chemistry courses. He has previously interned for the Plant DNA Barcode Project at the Smithsonian Institution and for a Neurology Lab specializing in epilepsy at the University of Virginia School of Medicine. Also an officer for Science and Law, and an active member in both Medical Society and Biology Olympiad, he hopes to apply his knowledge in advancing CRS and spreading cancer awareness.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12 officer-d">
        <div class="row">
            <div class="col-sm-4">
                <p class="lead officer">James Houghton</p>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <img class="img-responsive img-circle officerimage" src="img/james.jpg" alt="James Houghton" />
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <p class="role">Webmaster</p>
            </div>
            <div class="col-sm-8">
                <p class="info">
James is a junior at TJHSST and a passionate computer programmer. He is currently an officer for TJ Computer Security Club and a student systems administrator. As a part of the latter job, he currently contributes to ion, TJ student intranet, and will be its maintainer through the 2016-17 school year. James and his friends, through Reboot for Youth and SHARE Technology, refurbish old computers and donate them to underprivileged children. He is looking forward to pursuing his passion in the Computer Systems Lab and applying his growing knowledge to cancer research.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12 officer-d">
        <div class="row">
            <div class="col-sm-4">
                <p class="lead officer">Sujay Ratna</p>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <img class="img-responsive img-circle officerimage" src="img/sujay.jpg" alt="Sujay Ratna" />
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <p class="role">Treasurer</p>
            </div>
            <div class="col-sm-8">
                <p class="info">
Sujay is a junior at TJ and is interested in cancer, neuroscience, and bioinformatics. He has conducted research at GMU ASSIP on classification and prediction of antimicrobial peptides using n-gram representation and machine learning. He is also an active officer of TJ Neuroscience Society, Bioinformatics Society, and Bioengineering Projects for the Future. Sujay gives back to the community as a Lead Facilitator of Kids Are Scientists Too and a NeuroInspire Instructor, teaching and leading dissections to elementary school students. He is looking forward to inspiring members of CRS to tackle cancer at its root and spreading awareness of cancer research.
                </p>
            </div>
        </div>
    </div>
</div>
<hr>
