<link rel="stylesheet" href="css/about.css">
<h1>About</h1>
<hr>
<div class="row">
	<h2 class="featurette-heading">Mission</h2>
	<p class="lead mission">
		Cancer Research Society is a club dedicated to organizing cancer research at TJ, raising awareness for cancer at TJ alongside Relay for Life, aswell as educating our peers to inspire them to perform and share their own research.
	</p>
</div>
<div class="row">
	<div class="col-md-5">
		<img src="img/esj.jpg" alt="Eric, Susanna, and James" />
	</div>
	<div class="col-md-7">
		<h2 class="featurette-heading">
			Officers
		</h2>
		<p class="lead officer">Eric Liu</p>
		<p class="info">Lecturer on the biology and chemistry of the many types of cancer</p>
		<p class="lead officer">Susanna Bradbury</p>
		<p class="info">Lecturer on current events: recent breakthroughs in cancer research technology or new discoveries made in the laboratory</p>
		<p class="lead officer">James Houghton</p>
		<p class="info">Lecturer on the technology and algorithm used in the cancer research field</p>
	</div>
</div>
