<link rel="stylesheet" href="css/about.css">
<div class="col-md-7">
	<h2 class="featurette-heading" style="text-align:center;">About</h2>
	<p class="lead" style="margin-left:10px;margin-right:10px;">
		Cancer Research Society is a club dedicated to organizing cancer research at TJ, raising awareness for cancer at TJ alongside Relay for Life, aswell as educating our peers to inspire them to perform and share their own research.
	</p>
</div>
<div class="col-md-5">
	<img class="featurette-image img-responsive" src="img/crs.png" alt="Cancer Research Society" />
	<img class="featurette-image img-responsive" src="img/crs.png" alt="Cancer Research Society" />
	<img class="featurette-image img-responsive" src="img/crs.png" alt="Cancer Research Society" />
	<img class="featurette-image img-responsive" src="img/crs.png" alt="Cancer Research Society" />
</div>
