<link rel="stylesheet" href="css/about.css">
<div class="col-md-7">
	<h2 class="featurette-heading" style="text-align:center;">Calendar</h2>
	<p class="lead" style="margin-left:10px;margin-right:10px;">
		There are no planned events at this time...
	</p>
</div>
<div class="col-md-5">
	<img class="featurette-image img-responsive" src="img/crs.png" alt="Cancer Research Society" />
	<img class="featurette-image img-responsive" src="img/crs.png" alt="Cancer Research Society" />
	<img class="featurette-image img-responsive" src="img/crs.png" alt="Cancer Research Society" />
	<img class="featurette-image img-responsive" src="img/crs.png" alt="Cancer Research Society" />
</div>
