<link rel="stylesheet" href="css/calendar.css">
<h1>Calendar</h1>
<h2 class="year">2015</h2>
<hr>
<div class="row" id="december2015">
	<div class="col-md-2">
		<h2 class="calendar-title">December</h2>
	</div>
	<div class="col-md-8">
		<h4><b>Wednesday the 16th:</b>
			Interest meeting and 
			<a href="https://docs.google.com/presentation/d/1xM06jxn2HcfR1220_5_EN0FSG-6o3wbprGN0OGN9BEY/edit?usp=sharing">
				first lecture</a> by Eric Liu on biology and genetics of cells and organsims, including an overview of the history and genetics of cancer.
		</h4>
	</div>
	<div class="col-md-2"></div>
</div>
<br><br>
<h2 class="year">2016</h2>
<hr>
<div class="row" id="january2016">
	<div class="col-md-2">
		<h2 class="calendar-title">January</h2>
	</div>
	<div class="col-md-8">
		<h4><b>Wednesday the 6th:</b>
			<a href="https://docs.google.com/presentation/d/1ucQLM0L3BtVHDPHlbt5LiJPsGSqiNllD11DXOkzfKmU/edit?usp=sharing">Lecture</a> by Susanna on new, promising treatments of several types of cancers.
		</h4>
		<h4><b>Wednesday the 13th:</b>
			Junior class meeting; no lecture.
		</h4>
	</div>
	<div class="col-md-2"></div>
</div>
<hr>
