<link rel="stylesheet" href="css/calendar.css">
<h1>Calendar</h1>
<h2 class="year">2015</h2>
<hr>
<div class="row" id="december2015">
	<div class="col-md-2">
		<h2 class="calendar-title">December</h2>
	</div>
	<div class="col-md-8">
		<h4><b>Wednesday the 16th:</b>
			Interest meeting and first lecture.<br>
			Eric lectured on <a href="https://docs.google.com/presentation/d/1xM06jxn2HcfR1220_5_EN0FSG-6o3wbprGN0OGN9BEY/edit?usp=sharing">
				biology and genetics of cells and organisms</a> that includes basic history and biology of cancer.
		</h4>
	</div>
	<div class="col-md-2"></div>
</div>
<br><br>
<h2 class="year">2016</h2>
<hr>
<div class="row" id="janurary2016">
	<div class="col-md-2">
		<h2 class="calendar-title">January</h2>
	</div>
	<div class="col-md-8">
		<h4><b>Wednesday the 6th:</b>
			Neeraj will talk about his research and Susanna will lecture on current events
		</h4>
		<h4><b>Wednesday the 13th:</b>
			James' lecture and someone's thing
		</h4>
	</div>
	<div class="col-md-2"></div>
</div>
<hr>
