<link rel="stylesheet" href="css/news.css">
<h1>News</h1>
<hr>
<div class="col-md-7">
	<p class="lead">
		There is no news at this time...
	</p>
</div>
<div class="col-md-5">
	<img class="featurette-image img-responsive" src="img/crs.png" alt="Cancer Research Society" />
	<img class="featurette-image img-responsive" src="img/crs.png" alt="Cancer Research Society" />
	<img class="featurette-image img-responsive" src="img/crs.png" alt="Cancer Research Society" />
	<img class="featurette-image img-responsive" src="img/crs.png" alt="Cancer Research Society" />
</div>
