<link rel="stylesheet" href="css/resources.css">
<h1 class="featurette-heading" style="text-align:center;">Resources</h1>
<div class="row">
	<div class="col-md-6" id="contact">
		<h2 class="center">Contact</h2>
		<p class="lead">
			You can reach Eric, Susanna, and James by email at ej.liu2017@gmail.com, srkbradbury@gmail.com, and jamesthoughton@gmail.com.
		</p>
	</div>
	<div class="col-md-6" id="links">
		<h2 class="center">Useful links</h2>
		<a href="//cancer.org">American Cancer Society</a><br/>
		<a href="//standup2cancer.org">Stand Up to Cancer (SU2C)</a><br/>
		<a href="//journals.lww.com/journalppo/pages/default.aspx">Cancer Journal</a><br/>
		<a href="//www.ccmb.med.umich.edu/bioinf-core/tools">Bioinformatics Tools</a><br/>
	</div>
</div>
