<link rel="stylesheet" href="css/resources.css">
<h1 class="featurette-heading" style="text-align:center;">Resources</h1>
<hr>
<div class="row">
	<div class="col-md-6" id="contact">
		<h2 class="center">Contact</h2>
		<p class="lead">
			The club may be reached at the following address: <a href="mailto:tjhsstcrs@gmail.com">tjhsstcrs@gmail.com</a><br><br>
			To reach Eric, Susanna, James, or Vikram individually by email: <a href="mailto:2017eliu@tjhsst.edu">2017eliu@tjhsst.edu</a>, <a href="mailto:2017sbradbur@tjhsst.edu">2017sbradbur@tjhsst.edu</a>, <a href="mailto:2017jhoughto@tjhsst.edu">2017jhoughto@tjhsst.edu</a>, or <a href="mailto:2017vshivaku@tjhsst.edu">2017vshivaku@tjhsst.edu</a>.
		</p>
		<br><br>
		<h2 class="center">Useful links</h2>
		<div class="row small-gutters" style="padding-top:10px;font-size:16px;">
			<div class="col-md-4 links">
				<ul>
					<li><a target="_blank" href="//cancer.org">American Cancer Society</a></li>
					<li><a target="_blank" href="//standup2cancer.org">Stand Up to Cancer (SU2C)</a></li>
					<li><a target="_blank" href="//journals.lww.com/journalppo/pages/default.aspx">Cancer Journal</a></li>
				</ul>
			</div>
			<div class="col-md-4 links">
				<ul>
					<li><a target="_blank" href="//www.cancerprogress.net/cca/clinical-cancer-advances-2015">Clinical Cancer Advances 2015</a></li>
					<li><a target="_blank" href="//www.ncbi.nlm.nih.gov/home/analyze.shtml">Bioinformatics Tools</a></li>
					<li><a target="_blank" href="//www.insidecancer.org/">Inside Cancer</a></li>
				</ul>
			</div>
			<div class="col-md-4 links">
				<ul>
					<li><a target="_blank" href="//www.mdanderson.org/education-and-research/resources-for-professionals/clinical-tools-and-resources/practice-algorithms/cancer-treatment-algorithms.html">Cancer Treatment Algorithms</a></li>
					<li><a target="_blank" href="//www.amazon.com/The-Emperor-All-Maladies-Biography/dp/1439170916">The Emperor of All Maladies: A Biography of Cancer</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-6" id="lectures">
		<h2 class="center">Presentations</h2>
		<ul>
			<li>
				<a target="_blank" href="https://docs.google.com/presentation/d/1xM06jxn2HcfR1220_5_EN0FSG-6o3wbprGN0OGN9BEY/edit?usp=sharing">
					The Biology and Genetics of Cells and Organisms
				</a>
				<p class="date">(12-16-15)</p>
			</li>
			<li><a target="_blank" href="https://docs.google.com/presentation/d/1ucQLM0L3BtVHDPHlbt5LiJPsGSqiNllD11DXOkzfKmU/edit?usp=sharing">
				Recent Clinical Cancer Treatment Advances
			</a><p class="date">(01-06-16)</p></li>
			<li><a target="_blank" href="https://docs.google.com/presentation/d/1_b4CdBKZ_i62DCseTOVVl8J7hwccMpLyBGST2OktI6g/edit?usp=sharing">
				Basic Technologies and Techniques
			</a><p class="date">(01-20-16)</p></li>
			<li><a target="_blank" href="https://docs.google.com/presentation/d/1gpDzd-ai68HSsP_kR32BLuFp8vmsFw3dGhxfDx7oq4A/edit?usp=sharing">
				BLAST Tutorial and CRS Idea Intro
			</a><p class="date">(02-17-16)</p></li>
			<li><a target="_blank" href="ppt/24feb16.pptx">
				Genomics Research Presentation
			</a><p class="date">(02-24-16)</p></li>
			<li><a target="_blank" href="https://docs.google.com/presentation/d/1Twgh3ZtceuDbp1heaskxCibizaJ3AqTJD6u_vB3QvrQ/edit?usp=sharing">
				Melanoma and Retinoblastoma
			</a><p class="date">(03-09-16)</p></li>
		</ul>
	</div>
</div>
<hr>
