<link rel="stylesheet" href="css/resources.css">
<h1 class="featurette-heading" style="text-align:center;">Resources</h1>
<hr>
<div class="row">
	<div class="col-md-6" id="contact">
		<h2 class="center">Contact</h2>
		<p class="lead">
			You can reach Eric, Susanna, and James by email at <a href="mailto:ej.liu2017@gmail.com">ej.liu2017@gmail.com</a>, <a href="mailto:srkbradbury@gmail.com">srkbradbury@gmail.com</a>, and <a href="mailto:jamesthoughton@gmailcom">jamesthoughton@gmail.com</a>.
		</p>
	</div>
	<div class="col-md-6" id="links">
		<h2 class="center">Useful links</h2>
		<table>
			<tr class="top">
				<td class="left"><a href="//cancer.org">American Cancer Society</a></td>
				<td><a href="//standup2cancer.org">Stand Up to Cancer (SU2C)</a></td>
				<td><a href="//journals.lww.com/journalppo/pages/default.aspx">Cancer Journal</a></td>
			</tr>
			<tr>
				<td class="left"><a href="//www.ccmb.med.umich.edu/bioinf-core/tools">Bioinformatics Tools</a></td>
				<td><a href="//www.cancerprogress.net/cca/clinical-cancer-advances-2015">Clinical Cancer Advances 2015</a></td>
				<td><a href="//www.insidecancer.org/">Inside Cancer</a></td>
			</tr>
			<tr>
				<td class="left"><a href="//www.mdanderson.org/education-and-research/resources-for-professionals/clinical-tools-and-resources/practice-algorithms/cancer-treatment-algorithms.html">Cancer Treatment Algorithms</a></td>
				<td><a href="//www.amazon.com/The-Emperor-All-Maladies-Biography/dp/1439170916">The Emperor of All Maladies: A Biography of Cancer</a></td>
				<td><a href="//www.ccmb.med.umich.edu/bioinf-core/tools">Bioinformatics Tools</a></td>
			</tr>
		</table>
	</div>
</div>
